<!DOCTYPE html>
<html>
<head>  
<meta charset="utf-8" />
</head>
<body>
<div id="app">
    <span>{{printMessage()}}</span>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            firstname: 'Ilya',
            lastname: 'Groz',
            birdthday: '06.01.2001'},
        methods: {
            printMessage(){
                var n = Date - birdthday
                if(birdthday = Date)
                return("Happy birthday " + firstname + lastname)
                else
                return("Sorry, "+ firstname+lastname+"you need to wait " + n+"more days")
            }

        }
    });
</script>

</body>
</html>