<!DOCTYPE html>
<html>
<head>  
<meta charset="utf-8" />
</head>
<body>
<div id="app">
    <span>{{description}}</span>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {description: 'My basic app'}
    });
</script>
</body>
</html>